/* Global styles start */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Global styles end */


/* Header styles start */
header {
    text-align: center;
    background-color: #5E3023;
    padding: 2px;
}

h1 {
    font-size: 40px;
    color: #E59500;
}
/* Header styles end */


/* Search for a city styles start */
label {
    font-size: 30px;
}

button {
    background-color: #5E3023 !important;
    color: #E59500 !important;
}

/* City Data section styles start */
.city-data-container {
    border: 2px solid #5E3023;
    padding: 10px 30px;
    margin: 15px 0px;
}
/* #city-name-container, #city-date, #city-data{

} */
/* City Data section styles end */

/* Search for a city styles end */

/* 5-day forecast styles start */
#day1, #day2, #day3, #day4, #day5 {
    display:block;
} 
#date1, #date2, #date3, #date4, #date5 {
    display:block;
}

.card {
    margin-left: 12px;
    margin-right: 12px;
    background-color: #E59500;
    color: #573280;
    border: 2px solid #5E3023;
}
.card h5 {
    color: #5E3023;
}
.forecast-row {
    width: 100%;
}
.card-body{
    padding: 10px;
}
/* 5-day forecast styles end */